body {
    background-color: ;
}
.business{
    background: url(../assets/aerial-view-business-team\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* featureCard */
.featureCard{
    box-shadow: 0px 16px 40px rgba(117, 142, 254, 0.25);
    border-radius: 5px;
}


/* OUR MISSION DIV */
.missionDiv{
    background: rgba(52, 50, 50, 0.03);
}

/* our mission comments */
.missionComments {
 background: rgba(155, 225, 80, 0.1);
 border-radius: 10px;
 color: rgba(26, 25, 25, 0.49);
}

/* our mission comments on 1400px screen and above */
@media screen and (min-width: 1400px){
    .missionComments {
        padding-top: 15%;
    }
}



@media screen and (max-width:640px){
    .businessText{
        font-size: 16px;
        font-weight: 600;
        /* line-height: 25px; */
        letter-spacing: 0em;
        text-align: left;
    }
}

@media screen and (max-width:1380px){
    .businessText{
        font-size: 20px;
        font-weight: 600;
        /* line-height: 25px; */
        letter-spacing: 0em;
        text-align: left;
    }
}

@media screen and ((min-width: 1200px) and (max-width:1380px)) {
    .businessText{
        font-size: 20px;
        font-weight: 600;
        /* line-height: 25px; */
        letter-spacing: 0em;
        text-align: left;
    }
    .businessCont{
        width: 15%;
    }
}

@media screen and (min-width:1500px){
    .cardHead{
        font-size: calc(15px + 0.3vw) ;
    }
    .cardText{
        font-size:calc(16px + 0.3vw);
        line-height: 200%;
    }
    .testimonials{
        font-size: calc(36px + 1vw);
        line-height: calc(54px + 1vw);
    }

    .users{
        font-size: calc(24px + 1vw) ;
        line-height: calc(31px +  1vw);
    }
    
}
@media screen and (min-width:1800px){
    .onboard{
        font-size: calc(24px + 1.1vw);
        line-height: calc(51px + 1vw);
        
    }

    .testimonialName{
        font-size: calc(20px + 0.4vw);
    }
    .testimonies{
        font-size: calc(16px + 0.4vw);
        line-height: calc(32px + 0.4vw);
    } 
    .featHead{
        font-size: calc(32px + 1.1vw);
        line-height: calc(54px + 1vw);
    }
    .featSubHead{
        font-size: calc(20px + 1.1vw);
        line-height: calc(51px + 1vw);
    }
    .mission{
        font-size: calc(32px + 1.1vw);
        font-weight: 800;
        line-height: 54px calc(54px + 1vw);
    }
    .missionText{
        font-size: calc(20px + 0.5vw);
        font-weight: 600;
        line-height: calc(31px + 0.4vw);
    }
    .missionCommentsText{
        font-size: calc(15px + 0.5vw);
        font-weight: 600;
        line-height: calc(44px + 0.4vw);
    }
    .businessText{
        font-size: calc(24px + 0.5vw);
        font-weight: 600;
        line-height: calc(32px + 1vw);
    }
    .blogHead{
        font-size: calc(36px + 1.1vw);
        font-weight: 800;
        line-height: calc(54px + 1.1vw);
    }
    .blogSubHead{
        font-size: calc(24px + 1.1vw);
        font-weight: 700;
        line-height: calc(30.5px + 1.1vw);
    }
    .blogCardHead{
        font-size: calc(16px + 0.4vw);
        font-weight: 700;
        line-height: calc(24.13px + 0.4vw);
    }
    .blogCardText{
        font-size: calc(13px + 0.5vw);
        font-weight: 500;
        line-height: calc(19.6px + 1vw);
    }
}
@media screen and (min-width:2200px){
    .cardHead{
        font-size: calc(15px + 0.5vw) ;
    }
    .cardText{
        font-size:calc(16px + 0.5vw);
    }
    .testimonialName{
        font-size: calc(20px + 0.7vw);
    }
    .testimonies{
        font-size: calc(16px + 0.5vw);
        line-height: calc(32px + 0.5vw);
    } 
}
@media screen and (min-width:3500px){
    .cardHead{
        font-size: calc(15px + 0.7vw) ;
    }
    .cardText{
        font-size:calc(16px + 0.7vw);
    }
}

@media only screen  and (max-device-width: 1000px) and (orientation: landscape){
    .featureCard{
        width: 30%;
    }
    .featContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .businessCont div{
        height: 100%;
    }
}